/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
          padding-top: 50px;
}


/*
 * Global add-ons
 */
.border{
          border:1px solid black; 
}
.sub-header {
          padding-bottom: 10px;
          border-bottom: 1px solid #eee;
          color: #31b131;
}

.page-header{
          border-bottom: 1px #2e6da4 solid;
}
.atention{
     color: #ccc;
     font-size: 12px;
}

.bg-1{
          background: #32BD66;
}

.bg-6{
          background: #57EE8F;
}

.bg-2{
          background: #FF6443;
}

.bg-7{
          background: #FF0000;
}

.bg-3{
          background: #2AA19C;
}

.bg-4{
          background: #FF9C4D;
}

.bg-5{
          background: #D97E35;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
          border: 0;
          background: #971118;
}
.navbar-brand{
          color: #fff !important;
}
.navbar-inverse .navbar-nav>li>a {
          color: #fff;
}
/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
          display: none;
}
@media (min-width: 768px) {
          .sidebar {
                    position: fixed;
                    top: 51px;
                    bottom: 0;
                    left: 0;
                    z-index: 1000;
                    display: block;
                    padding: 20px;
                    overflow-x: hidden;
                    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
                    background-color: lightgrey;
          }
}

/* Sidebar navigation */
.nav-sidebar {
          margin-right: -21px; /* 20px padding + 1px border */
          margin-bottom: 20px;
          margin-left: -20px;
}
.nav-sidebar > li > a {
          padding-right: 20px;
          padding-left: 20px;
          color: #000;
}
.nav-sidebar > li > a:hover {
          background: #fff;
          color: #FD2732;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
          color: #BA0F46;
          background-color: #fff;
          border-bottom: #BA0F46 solid 2px;
          font-weight: bold;
}

.nav-sidebar > .active > a i,
.nav-sidebar > .active > a:hover i,
.nav-sidebar > .active > a:focus i {
          color: #FF5018;
}

.btn-warning{
          background: #D23F11;
          border:1px solid #D23F11;
}
.btn-ungu{
          background: #BA0F46;
          border:1px solid #BA0F46;
          color: #fff;
}
.btn-ungu:hover{
          background: #890F36;
          border:1px solid #890F36;
          color: #fff;
}


/*
 * Main content
 */
.sidebar-right{
          padding-top: 20px;
          padding-left: 10px;
          padding-right: 10px;
}

.sidebar-right .page-header {
          margin-top: 0;
}
.main {
          padding: 20px;
}
@media (min-width: 768px) {
          .main {
                    padding-right: 20px;
                    padding-left: 20px;
          }
}
.main .page-header {
          margin-top: 0;
          border-bottom: 2px solid #BA0F46;
}
.main .page-header i{
          color: #FF5018;
}
.main .page-header a i{
          color: #fff;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
          margin-bottom: 30px;
          text-align: center;
}
.placeholders h4 {
          margin-bottom: 0;
}
.placeholder {
          margin-bottom: 20px;
}
.placeholder img {
          display: inline-block;
          border-radius: 50%;
}
.input-append input,
.input-prepend input[class*="span"],
.input-append input[class*="span"] {
          display: inline-block;
          width: auto;
}

/* NEW CUSTOM STYLE BY HABIB KOE TKJ */
.fancybox-inner{
          min-height: 500px !important;
}
.slider-img-prev{
          margin-top: 5px;
          width: 100%;

}
.form-control[readonly]{
          background: #fff;
          border: 0px;
          border-radius: 0px;
          color: #fff;
          border-color: #fff;
          border-style: none;
          box-shadow: 0px;
          height: 20px;

}

table thead{
          color: #FF5018;
}

/*upload with preview*/
#image-preview {
          border:1px dashed #ddd;
          border-radius: 3px;
          width: 100px;
          height: 100px;
          position: relative;
          overflow: hidden;
          background-color: #ffffff;
          color: #163758; 
          cursor: pointer;
}

#image-preview input {
          line-height: 300px;
          font-size: 100px;
          position: absolute;
          opacity: 0;
          z-index: 10;
          
}

#image-preview label {
          position: absolute;
          z-index: 5;
          opacity: 0.8;
          cursor: pointer;
          width: 60px;
          height: 50px;
          font-size: 15px;
          line-height: 30px;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          text-align: center; }

.box-notive{
          border:#ddd 1px solid;
          border-radius: 4px;
          background: #ddd;
}
.center{
          text-align: center;
          padding-bottom: 10px;
          padding-top: 7px;
          color: #fff;
}