@import url(https://fonts.googleapis.com/css?family=Raleway:400,600);
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 5, 2016, 11:17:45 PM
    Author     : Habib Koe Tkj
*/
.form-login{
          margin-top: 200px;
}
.form-login-customer{
          margin-top: 130px;
          background: #F27474;
          padding-bottom: 70px;
          border-radius: 3px;
}
.form-control{
          border-radius: 0px;
}
.label-login{
          font-size: 30px;
          color: #fff;
          font-family: Raleway;
          font-weight: 400;
}
.pesan{
          color: #f00;
          padding: 10px;
          border-radius: 5px;
          text-align: center;
}
a{
          color: #fff;
}
a:hover{
          color: silver;
          text-decoration: none;
}