/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 5, 2016, 11:17:53 PM
    Author     : Habib Koe Tkj
@import url(https://fonts.googleapis.com/css?family=Yantramanav:400,700);
@import url(https://fonts.googleapis.com/css?family=Arya:400,700);
*/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
/*@import url(https://fonts.googleapis.com/css?family=Chewy);*/
@import 'https://fonts.googleapis.com/css?family=Fjalla+One';
body{
          font-family: 'Roboto', sans-serif;
          /*
          font-family: 'Yantramanav', sans-serif
          font-family: 'Arya', sans-serif;
          */
          font-size: 14px;
}
.navbar{
          margin-bottom: 0px;
}

/*  Nav Custom*/
.navbar-header{
          height: 69px;
          background: #fff;
}

.navbar-toggle{
          margin-top: 15px;
}
.nav-top{
          min-height: 32px !important;
          margin-bottom: 0px;
          box-shadow: 1px 2px 3px #ccc;
          /*background-color: #2AA19C;*/
          background-color:#237226;
          border-bottom: 1px solid #ccc;
          
}

.konten {
    display: none;
}

.nav-custom-top>li{
          padding-top: 5px;
          padding-bottom: 5px;
          display: inline;
}
.nav-custom-top>li>a{
          display: inline;
          padding-bottom:8px;
          padding-left: 7px;
          padding-right: 7px !important;
          color: #fff !important;
}

.nav-booking{
          height: 70px;
          margin-bottom: 1px;
          background: #2AA19C;
}
.modal-header{
          background: #F27474;
          border-radius: 4px 4px 0px 0px;
          color: #fff;
}
.nav-booking li a{
          padding-top: 27px;
          padding-bottom: 21px;
          padding-left: 10px;
          padding-right: 10px;
          background: #fff;
          font-weight: bold;
          color: darkgreen !important;
          /*color: #015E24 !important;*/
}

.nav-custom{
          height: 70px;
          margin-bottom: 1px;
          background: #fff;
}
.nav-custom li a{
          padding-top: 27px;
          padding-bottom: 21px;
          padding-left: 10px;
          padding-right: 10px;
          background: #fff;
          font-weight: bold;
          color: darkgreen !important;
          position: relative;
          /*color: #015E24 !important;*/
}
.nav-custom li:hover{
          background: #fff;
}

.navbar-brand{
          margin-top: 9px;
          min-height: 70px;
          padding-top: 0px;
          padding-left: 10px;
          padding-right: 10px;
          
}

.img-credit{
          margin-top: 2px;
          padding-top: 2px;
          font-size: 11px;
          color: #2AA19C;
          opacity: 1.0;
}
.breadcrumb{
          background: #fff;
          color: red;
          padding:0px;
          font-weight: 100;
}
.breadcrumb a{
          color: #79818a;
}


.title-home{
          text-align: center;
          color: #fff;
          font-size: 16px;
          font-weight: bold;
          padding-top: 12px;
          padding-bottom: 12px;
          margin-bottom: 10px;
          text-transform: uppercase;
}

.price-includes{
          font-size: 11px;
}
.total-price{
          font-size: 25px;
          color: purple;
}

.title-home a{
          color: #fff;
}

.sub-title-home{
          margin-top: 5px;
          font-size: 18px;
          height: 33px;
}
.sub-title-home a{
          color: #000;
}

.img-read-side{
          padding-right: 5px;
          padding-left: 5px;
}
.sub-title-side{
          margin-top: 5px;
          font-size: 15px;
          font-weight: bold;
}
.sub-title-side a{
          color: #000;
}

.table-price{
          width: 100%;
          border: 1px solid #ddd;
          margin-bottom: 10px;
}
.table-price td{
          padding: 3px;
}
.table-price th{
          padding: 3px;
}
.input-person{
          padding: 5px;
          width: 50px;
          border: 1px greenyellow solid;
}

.atention{
     color: #79818a;
     font-size: 12px;
}
.required{
          color: #F00;
          font-weight: bold;
          font-size: 16px;
}
.atention-orange{
     color: #FE9221;
     font-size: 12px;
}
.atention-black{
     color: #000;
     font-size: 12px;
}

.h3-style-1{
          margin-top: 0px;
          color: red;
          font-family: 'Fjalla One', sans-serif;
          font-size: 20px;
          float: left;
          width: 100%;
                    
}
.h3-title-detail{
          margin-top: 0px;
          font-weight: bold;
}

.h3-title-index{
          margin-top: 0px;
          color: #2AA19C;
          font-family: 'Fjalla One', sans-serif;
          font-size: 30px;
}

.h4-style-1{
          font-weight: bold;
          color: #FE9221;
                    
}
.h4-booking{
          margin-top: 0px;
          font-family: 'Chewy', cursive;
}
.h6-style-1{
          margin-top: 0px;
}

.hr-booking{
          margin-top: 10px;
          margin-bottom: 10px;
}

.hr-float{
          float: left;
          width: 100%;
          margin-bottom: 0px;
          margin-top: 10px;
}

.remove_field{
          float: right;
          margin-top: 10px;
}

.price-home{
          color: orange;
          font-weight:500;
          font-size: 14px;
}
.price-detail{
          color: orange;
          font-weight:bold;
          font-size: 22px;
          margin-top: 0px;
}
.box-home{
          margin-top: 20px;
          margin-bottom: 10px;
}
.box-home-inside{
          padding-top: 5px;
          min-height: 360px;
          padding-left: 5px;
          padding-right: 5px;
          float: left;
}

.box-home-inside:hover{
          border: 1px solid #2AA19C;
          border-radius: 3px;
          
}

.box-home-inside a{
          color: #000;
          text-decoration: none;
}

.box-home-inside a:hover{
          color: #2AA19C;
}

.box-programs{
          padding-top: 10px;
          min-height: 360px;
          margin-bottom: 10px;
}

.box-programs:hover{
          background: #DDD;
          border-radius: 3px;
          
}

.box-detail{
          padding-top: 10px;
          min-height: 380px;
          margin-bottom: 10px;
}
.box-detail:hover{
          background: #DDD;
          border-radius: 3px;
          
}

.box-content{
          min-height: 100px;
}
.box-category{
          padding: 7px;
          background: #FE9221;
          color: #fff;
          position: absolute;
}

.box-category-grey{
          padding: 7px;
          background: #ccc;
          color: #000;
          position: absolute;
}

.box-side{
          margin-bottom: 10px;
          padding-top: 5px;
          padding-bottom: 5px;
}
.box-side-inside{
          border-left: 1px solid #ddd;
          border-right: 1px solid #ddd;
          border-top: 1px solid #ddd;
          border-bottom: 1px solid #ccc;
          margin-bottom: 5px;
          padding-top: 5px;
          padding-bottom: 5px;
}

.box-side-inside:hover{
          background: #CCC;
}

.box-side-round{
          border-left: 1px solid #ddd;
          border-right: 1px solid #ddd;
          border-top: 1px solid #ddd;
          border-bottom: 3px solid #2AA19C;
          border-radius: 5px;
          margin-bottom: 5px;
          padding-top: 10px;
          padding-bottom: 10px;
}

.bg-1{
          background: #32BD66;
}

.bg-6{
          background: #3BBF40;
}

.bg-2{
          background: #FF6443;
}

.bg-3{
          background: #567324;
}

.bg-4{
          background: #FF9C4D;
}

.bg-5{
          background: #D97E35;
}

/*-----margin---*/
.margin-bottom{
          margin-bottom: 15px;
}
.margin-bottom-10{
          margin-bottom: 10px;
}
.margin-top-15{
          margin-top: 15px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media(max-width:768px){
          
          /* Carousel base class */
          .carousel {
                    height: 300px;
          }
          /* Since positioning the image, we need to help out the caption */
          .carousel-caption {
                    z-index: 10;
          }

          /* Declare heights because of positioning of img element */
          .carousel .item {
                    height: 300px;
                    background-color: #777;
          }
          .carousel-inner > .item > img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    min-width: 100%;
                    height: 300px;
          }
}

@media(max-width:481px){
          
          /* Carousel base class */
          .carousel {
                    height: 200px;
          }
           /* Since positioning the image, we need to help out the caption */
          .carousel-caption {
                    z-index: 10;
          }

          /* Declare heights because of positioning of img element */
          .carousel .item {
                    height: 200px;
                    background-color: #777;
          }
          .carousel-inner > .item > img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    min-width: 100%;
                    height: 200px;
          }
          .modal-dialog{
                    width: 200px;
          }
         
}

@media (min-width: 768px) {

          /* Carousel base class */
          .carousel {
                    height: 400px;
          }
          /* Since positioning the image, we need to help out the caption */
          .carousel-caption {
                    z-index: 10;
          }

          /* Declare heights because of positioning of img element */
          .carousel .item {
                    height: 400px;
                    background-color: #777;
          }
          .carousel-inner > .item > img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    min-width: 100%;
                    height: 400px;
          }

          /* Navbar positioning foo */
          .navbar-wrapper {
                    margin-top: 20px;
          }
          .navbar-wrapper .container {
                    padding-right: 15px;
                    padding-left: 15px;
          }
          .navbar-wrapper .navbar {
                    padding-right: 0;
                    padding-left: 0;
          }

          /* The navbar becomes detached from the top, so we round the corners */
          .navbar-wrapper .navbar {
                    border-radius: 4px;
          }

          /* Bump up size of carousel content */
          .carousel-caption p {
                    margin-bottom: 20px;
                    font-size: 21px;
                    line-height: 1.4;
          }

          .featurette-heading {
                    font-size: 50px;
          }
}

@media (min-width: 992px) {
          .featurette-heading {
                    margin-top: 120px;
          }
          
          /* Carousel base class */
          .carousel {
                    height: 500px;
          }
          /* Since positioning the image, we need to help out the caption */
          .carousel-caption {
                    z-index: 10;
          }

          /* Declare heights because of positioning of img element */
          .carousel .item {
                    height: 500px;
                    background-color: #777;
          }
          .carousel-inner > .item > img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    min-width: 100%;
                    height: 500px;
          }

}
footer{
          background: #DDD;
          border-top: #CCC 3px solid;
}
.footer-main{
          min-height: 200px;
          color: #777;
}

.footer-main a{
          color: #777;
}
.footer-bottom{
          text-align: center;
          width: 100%;
          background: #ccc;
          padding-top: 10px;
          padding-bottom: 10px;
}
.h4-footer{
          color: #777;
}

.room{
          width: 50%;
          float: left;
          margin-right: 10px;
}
.pesan{
          width: 50px;
          padding: 5px;
          border:1px solid #FE9221;
          border-radius: 4px;
          text-align: center;
}
.breadcrumb-booking{
          margin-bottom: 20px;
          text-align: center;
}
.breadcrumb-booking .active{
          background: #FE9221;
          color: #fff;
          font-weight: bold;
          font-size: 16px;
          border-bottom: 2px solid #FE9221;
          
}
.breadcrumb-booking .activated{
          background:#F8BB86;
          color: #D97E35;
          font-size: 16px;
          border-bottom: 2px solid #F8BB86;
          
}
.breadcrumb-booking .deactive{
          border-bottom: 2px solid #FE9221;
          color: #ccc;
          font-size: 16px;
}
.form-width-70{
          margin-top: 10px;
          width: 90%;
          float: left;
}

.box-find-budget{
          min-height: 300px;
          border: 4px solid #FE9221;
}
.box-head{
          background: #FE9221;
          color: #fff;
          text-align: center;
          font-size: 26px;
          padding-top: 10px;
          padding-bottom: 10px;
}
.alert-danger {
    color: #fff;
    background-color: #971118;
    border-color: #ebccd1;
    font-weight: bold;
}
.search-front{
          margin-top: 20px;
}

.btn-pink{
          color: #dd514c;
}

.img-rounded-2px{
          border-radius: 3px;
}

/*upload with preview*/
#image-preview {
          border:1px dashed #ddd;
          border-radius: 3px;
          width: 100px;
          height: 100px;
          position: relative;
          overflow: hidden;
          background-color: #ffffff;
          color: #163758; 
          cursor: pointer;
}

#image-preview input {
          line-height: 300px;
          font-size: 100px;
          position: absolute;
          opacity: 0;
          z-index: 10;
          
}

#image-preview label {
          position: absolute;
          z-index: 5;
          opacity: 0.8;
          cursor: pointer;
          width: 60px;
          height: 50px;
          font-size: 15px;
          line-height: 30px;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          text-align: center; }

.modal-dialog{
          width: 380px;
}
